# Fisheries Data Cleaning

In this notebook, i will share the code and method i use to load, check and clean the data set. the original data set i get from querying in [FAO data](https://www.fao.org/fishery/statistics-query/en/global_production/global_production_quantity). after that i get the data in csv and using it here. The main thing that i get is country, the amount of production, the species of fish, and continent as large scale comparison.

## Import the data

In [4]:
import pandas as pd

path='path/to/the/file/Global_production_quantity_after_query.csv'

df=pd.read_csv(path)

### Check the head of dataframe

In [5]:
df.head()

,Country Name En,Continent Name En,ASFIS species Name En,Unit Name,2022,2022 Flag,2021,2021 Flag,2020,2020 Flag,...,1954,1954 Flag,1953,1953 Flag,1952,1952 Flag,1951,1951 Flag,1950,1950 Flag
0,Afghanistan,Asia,Cyprinids NEI,Tonnes - live weight,11100.0,E,11067.0,E,9404.0,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,Asia,Rainbow trout,Tonnes - live weight,50.0,E,40.0,E,40.0,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,Europe,Bighead carp,Tonnes - live weight,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,Europe,Common carp,Tonnes - live weight,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Albania,Europe,Crucian carp,Tonnes - live weight,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Since the data is on the wide shape, the first thing i do is melt it with df.melt(), so i can get fewer columns to work with

### Melt the data

In [7]:
id_vars = ['Country Name En', 'Continent Name En', 'ASFIS species Name En', 'Unit Name']
value_vars = [col for col in df.columns if col.isdigit()]

df_long = df.melt(
    id_vars=id_vars,
    value_vars=value_vars,
    var_name='Year',
    value_name='Production'
)

#### Check the head of new df

In [8]:
df_long.head()

,Country Name En,Continent Name En,ASFIS species Name En,Unit Name,Year,Production
0,Afghanistan,Asia,Cyprinids NEI,Tonnes - live weight,2022,11100.0
1,Afghanistan,Asia,Rainbow trout,Tonnes - live weight,2022,50.0
2,Albania,Europe,Bighead carp,Tonnes - live weight,2022,NaN
3,Albania,Europe,Common carp,Tonnes - live weight,2022,NaN
4,Albania,Europe,Crucian carp,Tonnes - live weight,2022,NaN

### Clean the year and production data type

In [21]:
df_long['Year'] = df_long['Year'].astype(int)
df_long['Production'] = pd.to_numeric(df_long['Production'], errors='coerce')

### Check the empty value

In [9]:
df_long.isna().sum()

Country Name En               0
Continent Name En          1387
ASFIS species Name En         0
Unit Name                     0
Year                          0
Production               154668
dtype: int64

the production have a large of number that have nothing in it, so i decided to drop it down

#### Drop the empty row in production column

In [10]:
df_long = df_long.dropna(subset=['Production'])

#### Check again the new df

In [11]:
df_long.isna().sum()

Country Name En            0
Continent Name En        317
ASFIS species Name En      0
Unit Name                  0
Year                       0
Production                 0
dtype: int64

I see that there are some empty value in Continent Name En, so i decided to check out what country is it or it is just an error

#### Check the continent name en that have nan value

In [12]:
df_long[df_long['Continent Name En'].isna()]

,Country Name En,Continent Name En,ASFIS species Name En,Unit Name,Year,Production
108867,Un. Sov. Soc. Rep.,NaN,Bighead carp,Tonnes - live weight,1991,5381.0
108868,Un. Sov. Soc. Rep.,NaN,Brown seaweeds,Tonnes - live weight,1991,9742.0
108869,Un. Sov. Soc. Rep.,NaN,Chum(=Keta=Dog) salmon,Tonnes - live weight,1991,0.0
108870,Un. Sov. Soc. Rep.,NaN,Common carp,Tonnes - live weight,1991,154427.0
108871,Un. Sov. Soc. Rep.,NaN,Flatfishes NEI,Tonnes - live weight,1991,71.0
...,...,...,...,...,...,...
248516,Un. Sov. Soc. Rep.,NaN,Common carp,Tonnes - live weight,1950,51500.0
248520,Un. Sov. Soc. Rep.,NaN,Mullets NEI,Tonnes - live weight,1950,0.0
248526,Un. Sov. Soc. Rep.,NaN,Silver carp,Tonnes - live weight,1950,0.0
248530,Un. Sov. Soc. Rep.,NaN,Whitefishes NEI,Tonnes - live weight,1950,2570.0
248531,Un. Sov. Soc. Rep.,NaN,Yesso scallop,Tonnes - live weight,1950,0.0

Since my main intention is to analyze the newer data and not thinking much about the history of the country, so i decided to exclude it from the main dataset and created a new dataset for it, if i needed it later

#### Save USSR rows to a separate DataFrame

In [13]:
df_ussr = df_long[df_long['Country Name En'] == 'Un. Sov. Soc. Rep.']

#### Exclude USSR from the main DataFrame

In [14]:
df_long_cleaned = df_long[df_long['Country Name En'] != 'Un. Sov. Soc. Rep.']

I ask chatgpt about what thing i should do to re-check if the data is already clean, so, here what it says.

✅ 1. Check Overall Structure


```
df.info()
```

Look for:
Year should be int64
Production should be float64 (or at least numeric)
No unexpected object types

In [22]:
df_long_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 93653 entries, 0 to 248619
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country Name En        93653 non-null  object
 1   Continent Name En      93653 non-null  object
 2   ASFIS species Name En  93653 non-null  object
 3   Unit Name              93653 non-null  object
 4   Year                   93653 non-null  int64
 5   Production             93653 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 5.0+ MB

✅ 2. Preview a Sample

```
df.sample(5)
```

Make sure:

Each row represents one country-species-unit-year

Production values are filled or marked as NaN (not weird strings)

In [23]:
df_long_cleaned.sample(5)

,Country Name En,Continent Name En,ASFIS species Name En,Unit Name,Year,Production
233383,Malaysia,Asia,Mozambique tilapia,Tonnes - live weight,1954,0.0
49015,Indonesia,Asia,Giant river prawn,Tonnes - live weight,2008,942.0
75898,Falkland Islands (Malvinas),Americas,Blue mussel,Tonnes - live weight,2000,0.0
111373,Republic of Korea,Asia,Marine fishes NEI,Tonnes - live weight,1990,929.0
100375,Kenya,Africa,Common carp,Tonnes - live weight,1993,289.0

✅ 3. Check for Missing Values

```
df.isna().sum()
```

This shows which columns still have missing data. A small number of NaNs might be okay, but a bunch could be a red flag.

In [24]:
df_long_cleaned.isna().sum()

Country Name En          0
Continent Name En        0
ASFIS species Name En    0
Unit Name                0
Year                     0
Production               0
dtype: int64

✅ 4. Check for Duplicates

```
df.duplicated().sum()
```

If this gives you anything above 0, you probably have redundant rows.

To inspect:
```
df[df.duplicated()]

In [25]:
df_long_cleaned.duplicated().sum()

np.int64(0)

✅ 5. Unique Values Sanity Check

```
df['Columns'].unique()
df['Columns'].nunique()
```
We're checking that if the value is make sense

In [27]:
df_long_cleaned['Year'].unique()

array([2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012,
       2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001,
       2000, 1999, 1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990,
       1989, 1988, 1987, 1986, 1985, 1984, 1983, 1982, 1981, 1980, 1979,
       1978, 1977, 1976, 1975, 1974, 1973, 1972, 1971, 1970, 1969, 1968,
       1967, 1966, 1965, 1964, 1963, 1962, 1961, 1960, 1959, 1958, 1957,
       1956, 1955, 1954, 1953, 1952, 1951, 1950])

In [31]:
df_long_cleaned['Country Name En'].nunique()

213

In [32]:
df_long_cleaned['Country Name En'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bhutan', 'Bolivia (Plurinational State of)',
       'Bonaire, Sint Eustatius and Saba', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China', 'China, Hong Kong SAR', 'Colombia', 'Congo',
       'Cook Islands', 'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba',
       'Cyprus', 'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Falkland Islands (Malvinas)', 'Faroe Islands', 'Fiji', 'Finland',
       'France', 'French Guiana', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guadeloupe',
       'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (Federated States of)', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands (Kingdom of the)', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Northern Mariana Islands',
       'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Republic of Korea', 'Republic of Moldova', 'Réunion', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'South Africa',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Taiwan Province of China',
       'Tajikistan', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Türkiye', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania',
       'United Republic of Tanzania, Zanzibar',
       'United States of America', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe', 'Curaçao', 'Czechoslovakia',
       'Netherlands Antilles', 'Serbia and Montenegro', 'Sudan (former)',
       'Yugoslavia SFR'], dtype=object)

In [29]:
df_long_cleaned['ASFIS species Name En'].nunique()

731

In [33]:
df_long_cleaned['ASFIS species Name En'].unique()

array(['Cyprinids NEI', 'Rainbow trout', 'European seabass',
       'Gilthead seabream', 'Mediterranean mussel', 'Barbel', 'Bleak',
       'Common carp', 'Common sole', 'Crucian carp', 'European eel',
       'Freshwater bream', 'Freshwater fishes NEI',
       'Largemouth black bass', 'Mullets NEI', 'North African catfish',
       'Pacific cupped oyster', 'Penaeus shrimps NEI', 'Pike-perch',
       'Roach', 'Tench', 'Tilapias NEI', 'Nile tilapia',
       '[Eucheumatopsis isiformis]', '[Brycon orbignyanus]', 'Dorado',
       'Grass carp(=White amur)', '[Megaleporinus obtusidens]', 'Pacu',
       'Silver, bighead carps NEI', 'Sorubims NEI',
       'South American catfish', 'Streaked prochilod', 'Silver carp',
       'Sturgeons NEI', 'Trouts NEI', 'Abalones NEI', 'Atlantic salmon',
       'Australian mussel', 'Barramundi(=Giant seaperch)',
       'Flat and cupped oysters NEI', 'Marine fishes NEI',
       'Marine molluscs NEI', 'Murray cod', 'Red claw crayfish',
       'Sea trout', 'Silver perch', 'Southern bluefin tuna',
       'Yabby crayfish', 'Arctic char', 'Brook trout',
       'Euro-American crayfishes NEI', 'Huchen', 'Northern pike',
       'Salmonoids NEI', 'Wels(=Som) catfish', 'Whiteleg shrimp',
       'Sobaity seabream', 'Asian barbs NEI', 'Bronze featherback',
       'Catla', 'Climbing perch', 'Clown knifefish',
       'Freshwater prawns, shrimps NEI', 'Giant river prawn',
       'Giant tiger prawn', 'Great snakehead', 'Indian white prawn',
       'Kuria labeo', '[Labeo bata]', 'Mrigal carp', 'Olive barb',
       'Orangefin labeo', 'Orange mud crab', 'Philippine catfish',
       'Roho labeo', 'Silver barb', 'Speckled shrimp',
       'Spotted snakehead', 'Stinging catfish', 'Striped catfish',
       'Striped snakehead', 'Wallago', 'Siberian sturgeon',
       'Sterlet sturgeon', 'Elkhorn sea moss', 'Blackchin tilapia',
       'Argentinian silverside', 'Black prochilodus', 'Cachama',
       'Pirapatinga', 'Tambatinga, hybrid', 'Cobia',
       'Three spotted tilapia', 'American bull frog', 'Arapaima',
       'Banded astyanax', '[Brycon amazonicus]', '[Brycon spp]',
       '[Cichla spp]', 'Cupped oysters NEI', 'Gracilaria seaweeds',
       '[Leporinus spp]', "Lion's paw", 'River and lake turtles NEI',
       'South American rock mussel', 'Tambacu, hybrid', 'Trahira',
       'Caribbean spiny lobster', 'Blue shrimp', 'Green mussel',
       'Groupers NEI', 'Indo-Pacific swamp crab', 'Jacks, crevalles NEI',
       'Milkfish', 'Naked catfishes', 'Pangas catfishes NEI',
       'Snappers NEI', 'Snubnose pompano', 'Spotted scat',
       'Tropical spiny lobsters NEI', 'Beluga', 'Bighead carp',
       'Black carp', 'Channel catfish', 'Danube bleak', 'Danube crayfish',
       'Danube sturgeon(=Osetr)', 'European perch', 'Goldfish',
       'Mississippi paddlefish', 'Noble crayfish', 'Rudd',
       'Spirulina NEI', 'African bonytongue', '[Arthrospira platensis]',
       'Mango tilapia', 'Asian swamp eel', 'Blood cockle',
       'Eucheuma seaweeds NEI', 'Frogs', "Hoven's carp",
       'Orange-spotted grouper', 'Snakeskin gourami',
       'Torpedo-shaped catfishes NEI', 'Banded jewelfish',
       'Parachanna snakeheads NEI', 'Sampa', 'American cupped oyster',
       'Blue mussel', 'Butter clam', 'Japanese carpet shell',
       'Salmonids NEI', 'Scallops NEI', 'Green turtle', 'Bubu',
       'Redbelly tilapia', 'Chilean mussel', 'Chilean oyster',
       'Chinook(=Spring=King) salmon', 'Cholga mussel', 'Choro mussel',
       'Coho(=Silver) salmon', 'Corvina drum', 'Giant kelp',
       '[Haematococcus pluvialis]', 'Japanese abalone', 'Leister',
       '[Limnospira maxima]', 'Peruvian calico scallop', 'Red abalone',
       'Red cusk-eel', "Skottsberg's gigartina", 'Turbot',
       'Yellowtail amberjack', 'Amberjacks NEI', 'Amur catfish',
       'Aquatic invertebrates NEI', 'Asian clam',
       'Blue-Nile tilapia, hybrid', 'Brown seaweeds', '[Carassius spp]',
       'Chinese longsnout catfish', 'Chinese mitten crab',
       'Chinese mystery snail', 'Chinese pond mussel',
       'Chinese softshell turtle', 'Clearhead icefish',
       'Constricted tagelus', 'Dark green nori', 'Fleshy prawn',
       'Freshwater molluscs NEI', 'Freshwater mussel shells',
       'Fusiform sargassum', 'Green mud crab', 'Japanese eel',
       'Japanese kelp', 'Japanese seabass', 'Japanese sea cucumber',
       'Kuruma prawn', 'Large yellow croaker', 'Lefteye flounders NEI',
       'Mandarin fish', 'Marine crabs NEI', 'Nori NEI',
       'Obscure pufferfish', 'Oriental river prawn',
       'Pearl oyster shells NEI', 'Pen shells NEI', 'Pompano',
       'Pond loach', 'Pond smelt', 'Porgies, seabreams NEI',
       'Portunus swimcrabs NEI', 'Red drum', 'Red swamp crawfish',
       '[Rhopilema esculentum]', 'Righteye flounders NEI',
       'Sea mussels NEI', 'Sea snails', 'Sea urchins NEI', 'Snakehead',
       'Tiger pufferfish', 'Wakame', 'Wuchang bream', 'Yellow catfish',
       'Flathead grey mullet', 'Goldlined seabream',
       'Mangrove red snapper', 'Mud carp', "Russell's snapper",
       '[Brycon melanopterus]', 'Dorada', '[Ichthyoelephas longirostris]',
       'Magdalena River prochilodus', '[Pimelodus spp]', 'Prochilods NEI',
       '[Prochilodus mariae]', '[Pseudoplatystoma magdaleniatum]',
       'Tarpon', 'Gastropods NEI', 'Giant clams NEI', 'Pacific asaphis',
       'Rough turban', 'Spotted rose snapper', 'Bagrid catfish',
       'Black catfishes NEI', 'Blue tilapia', 'Atlantic bluefin tuna',
       'European flat oyster', 'Meagre', 'Mangrove cupped oyster',
       'European whitefish', 'Clams, etc. NEI', 'Laver (Nori)',
       'Yesso scallop', 'Chars NEI', 'Freshwater siluroids NEI',
       'Sea belt', 'Striped bass, hybrid', 'American eel', 'Common snook',
       'Gudgeons, sleepers NEI', 'Pacific fat sleeper', 'Bayad',
       'River eels NEI', 'Black ark', 'Grand ark', 'Jaguar guapote',
       'Mozambique tilapia', 'Babberlocks', 'Tangle',
       'Common edible cockle', 'European green frog', 'Roaches NEI',
       'Seaweeds NEI', 'Tuberculate abalone', 'Blacklip pearl oyster',
       'Orbicular batfish', 'Gasar cupped oyster', 'Greater amberjack',
       'Mediterranean shore crab', 'Red porgy', 'Shi drum',
       'White seabream', 'Heterobranchus catfish NEI', 'Atipa',
       'Lebranche mullet', 'Tarpon snook', 'Whitemouth croaker',
       'Hetero-Clarias catfish, hybrid', 'Atlantic halibut',
       'Senegalese sole', 'Indian backwater oyster', 'Kelee shad',
       'Manipur osteobrama', 'Red seaweeds', 'Asian redtail catfish',
       'Banana prawn', 'Butter catfish', 'Clown crab', 'Coarse shrimp',
       'Flathead lobster', 'Freshwater crustaceans NEI', 'Giant gourami',
       'Glass catfishes', 'Greenback mullet', 'Green sea feather',
       'Groupers, seabasses NEI', 'Humpback grouper',
       'Indonesian snakehead', 'Jawla paste shrimp', 'Kissing gourami',
       'Lake prawn', 'Longfin trevally', 'Marble goby', 'Masked grouper',
       'Metapenaeus shrimps NEI', 'Nilem carp', 'Northern velvet shrimp',
       'Penguin wing oyster', '[Sargassum spp]', 'Sea cucumbers NEI',
       'Semah mahseer', 'Snakeheads(=Murrels) NEI', 'Three spot gourami',
       'Whiskered velvet shrimp', 'Brine shrimps NEI', 'Black bullhead',
       'Common prawn', 'Grayling', 'Grooved carpet shell', '[Mugil spp]',
       'Sharpsnout seabream', 'Whitefishes NEI', 'Ayu sweetfish',
       'Bastard halibut', 'Japanese amberjack', 'Japanese jack mackerel',
       'Pacific bluefin tuna', 'Red oyas', 'Silver seabream',
       'White trevally', 'Peled', 'Spiny eucheuma', 'Isok barb',
       'Small scale mud carp', 'Sandfish', 'Redbreast tilapia',
       'Tilapia shiranus', 'Barcoo grunter', 'Blacktip grouper',
       'Broad geloina', 'Brown-marbled grouper', 'Fourfinger threadfin',
       'Giant grouper', 'Golden trevally', 'Hard clams NEI',
       '[Hypsibarbus spp]', "John's snapper", 'Leopard coralgrouper',
       'Pangas catfish', '[Pomadasys spp]', '[Puntioplites bulu]',
       'Thai mahseer', 'Tiger-dragon grouper, hybrid', 'Tinfoil barb',
       'Sabaki tilapia', 'Elongate giant clam', 'Sixfinger threadfin',
       'Hooded oyster', 'Callinectes swimcrabs NEI', 'Catfishes NEI',
       'Cichlasoma NEI', 'Cortez oyster', 'Guppy', 'Longnose gar',
       'Mojarras, etc. NEI', 'Northern brown shrimp', 'River carpsucker',
       'River prawns NEI', 'Snooks(=Robalos) NEI', 'Striped bass',
       'Yellowfin tuna', 'Slender wart weed', 'Commercial top',
       'Smalleyed squillid mantis shrimp', 'Perlemoen abalone',
       'Marine worms', 'Soles NEI', 'Emperor red snapper',
       'Golden-lined spinefoot', 'White-spotted spinefoot',
       'New Zealand mussel', 'Rainbow abalone', 'Aba', 'Characins NEI',
       'Citharinus NEI', 'Grass-eaters NEI', 'Kafue pike', 'Nile perch',
       'Reticulate knifefish', 'Upsidedown catfishes', 'Ohrid trout',
       'Atlantic cod', 'Finfishes NEI', 'Great Atlantic scallop',
       'Marine crustaceans NEI', 'Monsoon river prawn',
       'Mottled spinefoot', 'Spinefeet(=Rabbitfishes) NEI',
       'Florida pompano', 'Longfin yellowtail', 'Spotted sorubim',
       'Amazon sailfin catfish', '[Brycon cephalus]', 'Fine flounder',
       'Velvety cichlids', 'Caulerpa seaweeds', 'Slipper cupped oyster',
       'Atlantic ditch shrimp', 'Corrugated venus', 'Desert dace',
       'Golden carpet shell', 'Green seaweeds', 'Purple dye murex',
       '[Solea spp]', 'Yellowfin seabream', 'Aquatic plants NEI',
       'Ascidiaceans NEI', 'Bagrid catsfih NEI', 'Blackhead seabream',
       '[Capsosiphon fulvescens]', 'Convict grouper',
       'Dotted gizzard shad', 'Filefishes, leatherjackets NEI',
       'Fragile codium', 'Green laver', 'Half-crenated ark',
       'Inflated ark', 'Korean mussel', 'Korean rockfish',
       'Masu(=Cherry) salmon', '[Oplegnathus fasciatus]',
       'Pacific chub mackerel', 'Pufferfishes NEI', 'Red seabream',
       'Sawtooth caridina', 'Scorpionfishes, redfishes NEI', 'Burbot',
       'Chum(=Keta=Dog) salmon', 'Red king crab', 'Sockeye(=Red) salmon',
       '[Meristotheca senegalense]', 'Blue swimming crab',
       'Crimson snapper', 'Giant trevally', 'Malabar grouper',
       'Mud spiny lobster', 'Spotted coralgrouper', 'Warty venus',
       'Japanese meagre', 'Sea lettuces NEI', 'Caramote prawn',
       'Octopuses NEI', 'Queen scallop', 'Spotted seabass',
       '[Labeo dussumieri]', 'Greasyback shrimp', 'Japanese hard clam',
       'Snappers, jobfishes NEI', 'Warty gracilaria', 'Buffalofishes NEI',
       'Africa-bighead catfish, hybrid', 'East Asian bullfrog',
       'Gouramis NEI', 'Knifefishes', '[Scylla spp]',
       '[Cladosiphon okamuranus]', 'Algerian barb', 'Pink dentex',
       'Truncate donax', 'White grouper', 'Queen conch',
       'African lungfishes', 'American yellow perch',
       'Northern quahog(=Hard clam)', 'Olympia oyster', 'Pacific geoduck',
       'Pacific littleneck clam', 'Sand gaper',
       'Blunt-toothed African catfish', 'Longfin tilapia',
       '[Oreochromis tanganicae]', 'Longrayed whiptail',
       'River Plata mussel', 'Brine shrimp', 'Common nase',
       'Starry sturgeon', 'Mudfish', 'Areolate grouper',
       'Hong Kong catfish', 'Banded grouper', 'Barred-chest grouper',
       'Bigeye trevally', 'Blackbanded trevally', 'Black jack',
       'Black pomfret', 'Blacksaddled coralgrouper', 'Blackspot sergeant',
       'Blacktail snapper', 'Bludger', 'Bluefin trevally',
       'Blue sea chub', 'Bluespot mullet', 'Bluespotted trevally',
       'Blunt slipper lobster', 'Brassy trevally',
       'Deepwater longtail red snapper', 'Deep-water redfish',
       'Duskytail grouper', 'Flying barb', 'Foursaddle grouper',
       'Giant barb', 'Harry hotlips', 'Hawaiian ladyfish',
       'Highfin coralgrouper', 'Highfin grouper', 'Humphead snapper',
       'Japanese isinglass', 'Longlegged spiny lobster',
       'Longnose trevally', 'Longspine grouper', 'Malabar trevally',
       'Minstrel sweetlips', '[Mystus nigriceps]',
       '[Neolissochilus soro]', '[Phalacronotus micronemus]',
       '[Polymesoda spp]', 'Scalloped spiny lobster',
       'Small-scaled terapon', 'Speckled blue grouper',
       'Spotty-face anchovy', 'Squaretail coralgrouper',
       '[Thynnichthys thynnoides]', 'White-edged lyretail',
       'Yellowspotted trevally', 'Twobar seabream', 'Bonefish',
       'Carangids NEI', 'Mexican spiny lobster', 'Sea catfishes NEI',
       'Mi-iuy (brown) croaker', 'Pink(=Humpback) salmon', 'Silver grunt',
       '[Salmo marmoratus]', 'Smooth marron crayfish',
       'Adriatic sturgeon', 'Atl.jackknife(=Atl.razor clam)',
       'Spinous spider crab', 'Diphos sanguin', 'Natantian decapods NEI',
       'Southern white shrimp', 'Bastard halibuts NEI', 'Bluegill',
       'Crevalle jack', 'Freshwater drum', 'Northern white shrimp',
       'White crappie', '[Cyprinus intha]', 'Vatani rohtee',
       'Prussian carp', '[Cichla monoculus]',
       '[Chondracanthus chamissoi]', '[Macrocystis integrifolia]',
       'Solen razor clams NEI', 'Jack and horse mackerels NEI',
       'Fluted giant clam', 'Southern red snapper',
       'Diadromous fishes NEI', 'Long-finned charr', 'Golden perch',
       'Golden trout', 'Barred sorubim', 'Great Mediterranean scallop',
       'Streamer fish', '[Tetraselmis spp]',
       'Unicell. chlorella green alga', '[Wallago spp]', 'Squillids NEI',
       'Peppery furrow', 'Oriental cyclina', 'Flatfishes NEI',
       'Three-spined stickleback', 'Green humphead parrotfish',
       'Blackspot seabream', '[Dunaliella salina]', 'Variegated scallop',
       'Bluespotted seabream', 'Common dentex', 'Speckled longfin eel',
       'Chub', 'European flounder', 'Bear paw clam', 'Crocus giant clam',
       'Smooth giant clam', 'Globose clam', 'Horned turban',
       'Okhotsk atka mackerel', 'Potato grouper', 'Asp',
       'Pod razor shell', 'Redbanded seabream', 'Monkey river prawn',
       'Netted prochilod', 'Sevan trout', 'False abalone',
       'Octopuses, etc. NEI', 'Peacock cichlid', 'Croakers, drums NEI',
       'Green crab', 'Olive green cockle', 'Palaemonid shrimps NEI',
       'Redtail prawn', '[Trochita spp]', 'Coarse seagrape',
       'Common pandora', 'Marbled spinefoot', 'Malabar blood snapper',
       'Orfe(=Ide)', 'Stromboid conchs NEI', 'Percoids NEI', 'Scats',
       'Sargo breams NEI', 'Seabasses NEI', 'Pargo breams NEI',
       'Banded carpet shell', 'Big-scale sand smelt', 'Brown meagre',
       'Common cuttlefish', 'Donax clams', 'Groundfishes NEI',
       'Mackerels NEI', 'Pacific salmons NEI', 'Pollack',
       'Signal crayfish', 'Striped venus',
       'Great blue spotted mudskipper', 'Horse mussels NEI',
       'Cockles NEI', 'Flat oysters NEI', 'Pacific horse clam',
       'Green terror', 'Atlantic wolffish', 'Haddock', 'Spotted wolffish',
       'Green tiger prawn', 'Giant clam', 'Squaretail mullet',
       'So-iuy mullet', 'Sciaenas NEI', 'Two-spot red snapper',
       'Yellowback seabream', 'Freshwater breams NEI', 'Gobies NEI',
       'Silversides(=Sand smelts) NEI', 'White bream', 'Kutum',
       'Hong Kong grouper', 'Venus clams NEI', 'Stony sea urchin',
       'Gazami crab', 'Spiny lobsters NEI', 'Black grouper',
       'Carpet shells NEI', 'Rhinofishes NEI', 'Smooth mactra',
       'Daggertooth pike conger', 'Japanese spiny lobster',
       'Trumpet emperor', 'Waigieu seaperch',
       'Common two-banded seabream', 'Greasy grouper', '[Hoplias spp]',
       'Dulse', 'Drums NEI', 'Papuan black snapper', 'Streaked spinefoot',
       'Baltic prawn', 'Chubs NEI', 'Atlantic spadefish',
       'Brown tiger prawn', 'Eastern king prawn', 'Eastern school shrimp',
       'Southern Australia scallop', '[Anostomoides atrianalis]',
       '[Brycon hilarii]', 'Suckermouth catfish', 'Blackbelt cichlid',
       'Ningu', 'Ripon barbel', 'Vimba bream', 'Sichel',
       'Short-finned eel', 'Harpoon seaweeds', 'Akiami paste shrimp',
       'White sturgeon', 'Goldsilk seabream', 'Swimming crabs, etc. NEI',
       'Freshwater gobies NEI', 'Periwinkles NEI', 'African catfish',
       'Pacific calico scallop', '[Pyropia columbina]',
       'Anadara clams NEI', 'Black seabass', 'Blue crab',
       'Duckbill catfish', 'Yellow-belly bream', 'Rooster venus',
       'Gelidium seaweeds', 'Palinurid spiny lobsters NEI', 'Brill',
       '[Ichthyoelephas humeralis]', 'Crimson seabream', 'Filefishes NEI',
       'Mojarras(=Silver-biddies) NEI', 'Sydney cupped oyster',
       'Red bait', 'Bluefish', 'Thinlip grey mullet'], dtype=object)

✅ 6. Confirm Production is Numeric

```
df['Production'].dtype
df['Production'].describe()
```

If you see very small or very large numbers (e.g., 1e12), double-check if they are real or errors.

In [34]:
df_long_cleaned['Production'].dtype

dtype('float64')

In [35]:
df_long_cleaned['Production'].describe()

count    9.365300e+04
mean     2.625252e+04
std      2.409026e+05
min      0.000000e+00
25%      0.000000e+00
50%      4.213900e+01
75%      1.200000e+03
max      1.177848e+07
Name: Production, dtype: float64

With all of that alreadt checked out, i think the data is already clean and is ready to export as new csv for analyze later

## Export the csv

In [ ]:
df_long_cleaned.to_csv('the/path/of/the/file/df_cleaned.csv', index=False)

In [ ]:
df_ussr.to_csv('the/path/of/the/file/ussr_data.csv', index=False)

i think thats all for the cleaning, and i will continue for the next step


## 🤝 Credits

Created by tojangeng262, a fisheries graduate transitioning into data analytics.

This project is part of a professional data portfolio aimed at showcasing real-world data wrangling skills using Python, pandas, and GitHub best practices.